//- extends layout to your side
extends layout/layout

block var
  - scriptpage = "home";

block content
    .main-nav-wrapper
        .main-nav-border
            .img-logo
                img(src="images/logo.png", alt="Logo")
            .main-menu
                ul
                    li
                    li
                    li
    


