- var active;
header#header
    .header-wrapper
        nav.navbar
            ul
                li.active: +a("Home", "index.html")
                li: +a("Product", "")
                li: +a("About us", "")
                li: +a("Contact", "")